@import '~node_modules/modern-normalize/modern-normalize.css';

.visually-hidden {
  display: none;
}

* {
  scroll-behavior: smooth;
}

// body {
//   max-height: 100vh;
//   overflow: auto;
// }

.gallery {
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}
